.picture {
  height: calc(#{$main-height-min} / 1);
  margin: auto;
  background-image: url(../assets/inside01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
