.logo {
  display: inline-block;
  overflow: hidden;
  height: 3rem;
  svg {
    height: 100%;
    .primary {
      fill: var(--color-primary);
    }
    .background {
      fill: var(--color-white);
    }
  }
}

header {
  .logo {
    height: 2rem;
    width: 2rem;
    @media only screen and (min-width: 1280px) {
      width: 9.375rem;
    }
  }
}
